/* 
font-family: 'Rubik', sans-serif;  <<<<< TITLES/BIG FONTS
font-family: 'Varela Round', sans-serif;  <<<<< BODY
*/

* {
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
nav{
  width: 100%;
  height: 100px;
  grid-row: 1fr/4fr;
  border: 1px solid purple;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(16, 1fr);
  grid-area: 
  'nav nav nav nav';

}

.square {
  border: 2px solid red;
  grid-column: span 2;
  height: 700px;
}

.rectangle {
  border: 2px solid blue;
  grid-column: span 1;
  height: 700px;
}




